:root {
  background-color: rgb(59, 59, 73);
}


body {
  min-width: 270px;
  max-width: 1900px !important;
  margin: 0 auto !important;
  background-color: $primaryWhite;
}

ol, ul {
  list-style: none;
  margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

