body {
  min-width: 270px;
}

ol, ul {
  list-style: none;
  margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

