// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Our color table
$primaryBlack: #080808;
$primaryWhite: #f3f3f3;
$secondaryWhite: #fafafa;
$primaryGray: #bbbbbbc0;
$lightGray: #9da7ba;
$darkGray: gray;
$primaryDarkBlue: #212949;
$primaryLighterBlue: #2a3561;

$starsYellow: #f5c625;

// Login color
$primarySpotify: #1DB955;
$spotify_hover: #189445;
$primaryFacebook: #4C69BA;
$facebook_hover: #3b518d;
$primaryLogin: #1FC9B4;
$login_hover: #179687;


/* REGOLE Extend/Inheritance */
%relative {
    position: relative;
  }
  
  %centered {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }


  .torno_su {
    position: absolute;
    scroll-behavior: smooth;
    top: 0;
    bottom: 0;
    color: blanchedalmond;
  }
  .freccia_su {
    // display: none;
    position: fixed;
    scroll-behavior: smooth;
    bottom: -2px;
    right: 50px;
    background-color: $primaryDarkBlue;
    border-radius: 5px;
    padding: 10px 15px;
    i {
      font-size: 18px;
      color: white;
    }
  }