// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Global
@import 'variables';
@import 'reset';
@import 'partials/_footer';
@import 'partials/_header';
@import 'partials/header_dash';

//HOMEPAGE
@import 'partials/home_page';
@import 'partials/search_page';
@import 'partials/login';
@import 'partials/show';
@import 'partials/humburger';

//DASHBOARD
@import 'partials/dashboard';
@import 'partials/messages_dash';
@import 'partials/jumbo_dashboard';
@import 'partials/auth_dropdown';


//CARDS
@import 'partials/card_layout_search';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
