
.dashboard_nav {
    .container {
        .nav {
            min-height: 8vh;
            align-items: center;
            .my_active {
                border-bottom: 2px solid goldenrod;
            }
        }
    }
}
.bar_under_jumbo {
    background-color: white;
    border-bottom: 0.5px solid $lightGray;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    // margin-bottom: 5vh;
    .container {
        
        .dashboard_nav_link {
            padding: 0 20px;
            line-height: 8vh;

        }
        .to_page_link {
            .link_box {
                margin-right: auto;
            }
            
                // margin-bottom: 20px;
                line-height: 8vh;
                .btn {
                    margin: 0 5px;
                }
                .my-color {
                    background-color: $primaryLighterBlue;
                    color: white;          
                }
                .my-color:hover {
                    background-color: $primaryDarkBlue;
                    color: white;          
                }      
                .btn-sponsor {
                    background-color: $primarySpotify;
                    color: white;          
                }
                .btn-sponsor:hover {
                        background-color: $spotify_hover;
                    color: white;          
                }
        
        }
    }  
}
.empty_profile {
    margin: 5vh 0 15vh 0;
}
.sponsor_bottom {
    margin-bottom: 20px;
}

// RESPONSIVE

@media screen and (max-width: 1200px) {
    
    .to_page_link {
        justify-content: space-around;
        .link_box {
            margin: 0 auto;
        }
        /* .btn_box {
            width: 100%;
        } */
    }
    // .bar_under_jumbo {
    //     .btn_box {
    //         margin-bottom: 20px;
    //     }
    // }
}

@media screen and (max-width: 767px) {
    .bar_under_jumbo .container .dashboard_nav_link {
            line-height: 5vh;
        
    }
    .bar_under_jumbo .container .to_page_link .btn_box .btn {
        margin: 10px 0;
    }
    .bar_under_jumbo .container .to_page_link .btn {
        margin: 10px 0;
    }
}