
.dashboard_nav {
    .container {
        .nav {
            min-height: 8vh;
            align-items: center;
            .my_active {
                border-bottom: 2px solid goldenrod;
            }
        }
    }
}

.dashboard_main {
    margin: 10vh 0;
}

.my-color {
    background-color: $primaryLighterBlue;

}
.my-color:hover {
    background-color: $primaryDarkBlue;
}

.btn-sponsor {
    background-color: gold;
    :hover {
        background-color: goldenrod;
    }
}