/* 

QUESTO E' HEADER

*/
.navbar {
    background-color: black;
    background-image: url( '../img/logo.jpg');
    height: 100px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */ /* Resize the background image to cover the entire container */
    background-size: 100px;
}
.navbar li:not(:first-child) {
    margin-left: 20px;
}

