/* earch divs */
.search-cnt, .categories-pannel {
    position: relative;
    .search {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        ul {
            padding: 0;
            height: 25vh;
            overflow: auto;
            li {
                line-height: 30px;
            }
        }
        .categories-cnt ,
        .genres-cnt {
            width: 200px;
            padding: 20px;
            background-color: $primaryWhite;
        }      
        input {
            border: none;
            width: 100%;
            background-color: $primaryWhite;
            text-align: start;
            &:hover {
                background-color: $primaryGray;
            }
        }
    }
}
// Jumbotron section
.jumbotron-container {
    width: 100%;
    height: 80vh;
    background-image: url('../img/cello.png');
    background-size: cover;
    background-repeat: no-repeat;
    .jumbotron-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 450px;
        color: $primaryWhite;
        padding-top: 4vh;
        h1 {
            font-size: 4rem;
        }
        p {
            max-width: 60ch;
        }
        .search-cnt {
            position: relative;
            .search {
                color: $primaryBlack;
                left: 100%;
                top: -60%;
                border: 1px solid black;
                border-radius: 2em;
                background-color: $primaryWhite;
                ul {
                    padding: 0;
                    height: 25vh;
                    overflow: auto;
                    li {
                        line-height: 30px;
                    }
                }
                .categories-cnt ,
                .genres-cnt {
                    width: 200px;
                    padding: 20px;
                    background-color: $primaryWhite;
                }
                .categories-cnt {
                    border-radius: 2em 0 0 2em;
                }
                .genres-cnt {
                    border-radius: 0 2em 2em 0;
                }
                input {
                    border: none;
                    width: 100%;
                    background-color: $primaryWhite;
                    text-align: start;
                    &:hover {
                        background-color: $primaryGray;
                    }
                }
            }
        }
    }
}

/* END JUMBOTRON */

// Badges section
.badges {
    text-align: center;
    img {
        width: 30%;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        margin: 0 auto;
        max-width: 50ch;
        font-size: 1rem;
    }
}

/* END BADGES */

// Want to work section
.want-to-work {
    color: white;
    h3 {
        margin: 0 auto;
        font-size: 2.8rem;
        width: 15ch;
        text-align: center;
        span {
            color: #cecece;
        }
    }
    p {
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
    }
    background: linear-gradient(black, $primaryDarkBlue);
}

/* END WANT TO WORK */

// Artisti in evidenza
.artist-in-evidence {
    background: linear-gradient(black, $primaryDarkBlue);
    text-align: center;
    color: $primaryWhite;
}

/* END ARTISTI */

// How it works section
.how-it-works {
    background-color: $primaryBlack;
    padding: 0;
}
.relative-60 {
    @extend %relative;
    height: 60vh;
}
.descriptions {
    
    h3 {
        font-size: 2.5rem;
        white-space: nowrap;
        color: $primaryWhite;
    }
    ol {
        // Counter for pseudo element
        counter-reset: listItem;
        margin-top: 40px;
        padding-left: 0;
        li {
            color: $primaryGray;
            display: flex;
            align-items: center;
            line-height: 30px;
            transition: color ease-out 500ms;
        &:not(:last-child) {          
            margin-bottom: 20px;
            }    
        }
        // Numbering
        li::before {
            counter-increment: listItem;
            content: counter(listItem);
            width: 2.5em;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            border-radius: 50%;
            border: 2px solid $primaryGray;
            transition: border-color ease-out 500ms;
        }
        li:hover,
        li:focus {
            color: $primaryWhite;
            &::before {
                border-color: $primaryWhite;
            }
        }
    }
    @extend %centered
}
.descriptions-images {
    background-image: url('../img/mixing.jpg');
    background-position: center;
    background-size: cover;
}

/* Get started */
.get-started {
    padding: 10vh 0;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        margin-bottom: 4vh;
        font-size: 3rem;
        font-weight: 500;
    }
    a {
        font-weight: 600;
    }
}

/* MEDIA QUERIES */

 @media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
}

@media only screen and (max-width: 768px) {

    .jumbotron-title {
        text-align: center;
    }
    .jumbotron-container .jumbotron-title .search-cnt .search {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border-radius: .3em;
        ul {
            padding: 0;
            height: 30vw;
            overflow: auto;
            li {
                line-height: 30px;
            }
        }
        .categories-cnt ,
        .genres-cnt {
            width: 120px;
            display: flex;
            flex-direction: column;
            padding: 2px;
            background-color: $primaryWhite;
        }
        .categories-cnt {
            border-radius: .3em 0 0 .3em;
        }
        .genres-cnt {
            border-radius: 0 .3em .3em 0;
        }
        input {
            border: none;
            width: 100%;
            background-color: $primaryWhite;
            text-align: start;
            &:hover {
                background-color: $primaryGray;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .want-to-work {
        h3 {
            font-size: 2rem;
            width: 100%;
        }
    }
    .how-it-works {
        display: none;
    }
    .get-started {
        padding: 10vh 0;
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h3 {
            margin-bottom: 4vh;
            font-size: 3rem;
            font-weight: 500;
        }
        a {
            font-weight: 600;
        }
    }
}


