//jumbo e testo
.jumbo_height {
    height: 100%;
}

.jumbo-dash {
    width: 100%;
    height: 55vh;
    background-color: $primaryDarkBlue;
    // background: $primaryDarkBlue url('../storage/profile_image/image_placeholder.jpg') no-repeat right;
    background-size: contain;
    border-bottom: 0.5px solid $lightGray;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    .row {
        position: relative;
        height: 100%;
    
        .over-jumbo {
            background-color: #00000082;
            height: 100%;
            width: 100%;
        }
        .container {
            display: flex;
            align-items: center;
            .jumbo_img {
                position: absolute;
                top: 0;
                right: 0;
                .diagonal_container {
                    position: relative;
                    height: 100%;

                    .diagonal {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 15%;
                        background-image: linear-gradient(-80deg, transparent 5%, transparent 50%, $primaryDarkBlue 50%, $primaryDarkBlue 100%);
                    }
                }
            }
            .title-dash {
                font-family: Arial, Helvetica, sans-serif;

                padding: 10px 0;
                h1 {
                    font-size: 4rem;
                    color: $primaryWhite;
                    line-height: 4rem;
                    font-weight: bolder;
                }
                h3 {
                    font-size: 2.8rem;
                    color: $primaryWhite;
                    line-height: 2.8rem;
                    font-weight: bolder;
                }
                .votes {
                    // margin-bottom: 10px;
                    i {
                        font-size: 1.3em;
                        margin-right: 3px;
                        color: $starsYellow;
                    }
                    span {
                      color: white;
                      font-size: 1.2em;
                      margin-left: 10px;
                    }
                    
                }
                p {
                  font-size: 1.2em;
                  color: $primaryWhite;
              }
                
            }
        }
    }
    

}

// RESPONSIVE
@media screen and (max-width: 1200px) {
.jumbo-dash {
    height: 45vh;
        .row {
            .container {
                .jumbo_img {
                    overflow: hidden !important;
                    .diagonal_container {
                        right: -10vw;
                    }
                }
                .title-dash {
                    h1 {
                        font-size: 2.5em;
                        line-height: 2.5em;
                    }
                    h3 {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
                    p {
                        font-size: 1.4rem;
                    }

                }
            }

        }
    }
}

@media screen and (max-width: 540px) {
    .jumbo-dash {
        height: 40vh;
        .row {
            .container {
                .title-dash {
                    h1 {
                        font-size: 2em;
                        line-height: 2em;
                    }
                    h3 {
                        font-size: 1.4rem;
                        line-height: 1.4rem;
                    }
                    p {
                        font-size: 1rem;
                    }

                }
            }

        }
    }
}


/* @media screen and (max-width: 992px) {
    .dashboard_home {
        .btn {
            width: 50%;
            margin: 15px auto;
        }
    }
} */