

.login_main {
    min-height: calc(100vh - 30vh);
}
.card_login {
    margin: 10vh 0;
    .card-header {
        height: 100%;
    }
    .card-body {
        padding-top: 30px;
    }
    .btn-facebook {
        background-color: $primaryFacebook;
        color: white;
    }
    .btn-spotify {
        background-color: $primarySpotify;
        color: white;
    }
    .btn-login {
        background-color: $primaryLogin;
        color: white;
    }
    .or {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        line-height: 0.1em;
        margin: 10px 0 20px;
    
        span {
            background-color: white;
            padding: 10px;
        }
    }
}