// sezione messaggi

.msg_box {
    margin: 20px 0;
    .content
    {
        position: relative;
        background-color: white;
        border-radius: 8px 8px 0 0;
        box-shadow: 3px 3px 10px rgb(212, 212, 212);
        padding: 25px;
    }
    .msg_date {
        overflow: hidden;
        margin-bottom: 5px;
        color: $darkGray;
        .sender_name {
            font-size: 1.2em;
            font-weight: 800;
        }
    }
    .msg_sender_mail {
        overflow: hidden;
        font-size: 0.9em;
        color: $darkGray;
        margin-bottom: 10px;
    }
    .msg_obj {
        overflow: hidden;
        color: $primaryBlack;
        font-weight: 800;
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .msg_txt {
        // display: block;
        
        max-width: 992px;
        
    }
    .msg_delete {
        position: absolute;
        top: 5px;
        right: 10px;
        i {
            font-size: 1.5em;
        }
    }
}
// .limit {
//     max-height: 1.5rem;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

.rev_vote {
    margin-bottom: 10px;
    i {
        color: gold;
    }

}


// RESPONSIVE
