// sezione messaggi
.msg_box {
    border-radius: 8px 8px 0 0;
    box-shadow: 3px 3px 10px rgb(212, 212, 212);
    margin-bottom: 20px;
    padding: 5px 10px;
    .msg_head, .msg_content {
        padding: 5px 20px;
    }
    .msg_head {
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
        .msg_date {
            margin-bottom: 5px;
        }
        .msg_sender {
            color: $darkGray;
        }
        .msg_obj {
            color: $primaryBlack;
            font-weight: 800;
            text-overflow: ellipsis;
            margin-bottom: 5px;
        }
    }
    .msg_content {
        max-height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        .msg_delete {
            position: absolute;
            top: 0;
            right: 0;
        }
        .msg_txt {
            max-height: 2rem;
            text-overflow: ellipsis;
        }
    }
    .rev_vote {
        // border-bottom: 1px solid lightgray;
        padding: 5px 20px;
        i {
            color: gold;
        }

    }
}

// RESPONSIVE
