
//jumbo e testo
.jumbotron-container-search {
  height: 40vh;
  background-color: $primaryDarkBlue;
  .jumbotron-title {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    height: 100%;
    h1 {
        font-size: 4rem;
        color: $primaryWhite;
    }
    p {
        font-size: 1.5rem;
        color: $primaryWhite;
    }
  }
}
/* SEARCH BAR */
%search-bar {
  padding: 20px 0;
  font-size: 1rem;
  font-weight: bold;
  color: $primaryDarkBlue;
  position: sticky;
  top: 0;
  z-index: 400;
  border-bottom: .5px solid #9da7ba;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  .filters-cnt {
    display: flex;
    padding-left: 0;
    & > div {
      border-right: 1px solid rgb(209, 209, 209);
      width: 100%;
      white-space: nowrap;
    }
  }
  .search {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
  }
  [class*='pannel'] {
    position: relative;
  }
  .input-cnt {
    display: flex;
    justify-content: center;
  }
  .categories-pannel {
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        .btn-no-filter {
          background-color: rgb(41, 49, 131);
          color: rgb(212, 212, 212);
        }
        ul {
            padding: 0;
            height: 20vh;
            overflow: auto;
            background-color: $secondaryWhite;
            li {
                line-height: 30px;
                background-color: $secondaryWhite;
                input {
                  color: $primaryDarkBlue;
                  font-weight: bold;
                  background-color: $secondaryWhite;
                  &:hover {
                    color: $primaryDarkBlue;
                    background-color: $primaryWhite;
                  }
                }
            }
        }
        .categories-cnt ,
        .genres-cnt {
            width: 220px;
            padding: 20px;
            background-color: $secondaryWhite;
            color: $primaryDarkBlue;
            font-weight: bold;
            border: 1px solid #eee;
            border-radius: 5px;
        }
        .votes-cnt {
            width: 100px;
            padding: 20px;
            background-color: $secondaryWhite;
            border: 1px solid #eee;
            border-radius: 5px;
        }
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  #number-of-views {
    width: 40px;
    border: 1px solid $primaryLighterBlue;
  }
}

.search-bar-white {
  background-color: white;
  @extend %search-bar;
  .filters-btn-border {
    border-right: 1px solid rgb(209, 209, 209);
  }
  button {
    font-weight: bold;
    color: $primaryDarkBlue;
    display: block;
    background-color: inherit;
    border: none;
    &:hover {
      text-decoration: underline;
    }
    i {
      vertical-align: text-top;
    }
  }
  #submit-advanced-search {
    background-color: $primaryLighterBlue;
    padding: .6em 1em;
    border: 1px solid #3490dc;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 500ms linear;
    &:hover {
      background-color: $primaryDarkBlue;
    }
  }
}

// Aggiunta padding a filters container 992px
@media screen and (max-width: 992px) {
  %search-bar {
    .filters-cnt {
      padding-top: 20px;
      padding-bottom: 20px;
      div:last-child {
        border-right: none;
      }
    }
  }
}


// Cambio display in colonne dei filtri 575px
@media screen and (max-width: 575px) {
  .search-bar-white .submit-btn-cnt {
    margin-top: 10px;
  }
  %search-bar {
    .filters-cnt {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      .categories-pannel {
        display: flex;
        flex-direction: row;
        border-right: none;
        width: 100%;
        white-space: nowrap;
        padding: 0 20px;
        label , button {
          width: 50%;
        }
      }
      .reviews-pannel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        white-space: nowrap;
        padding: 0 20px;
        label, .input-cnt {
          width: 50%;
        }
        .input-cnt {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .jumbotron-container-search {
    .jumbotron-title {
      margin: 0 auto;
      max-width: 60%;
      text-align: center;
      height: 100%;
      h1 {
          font-size: 2.5rem;
          color: $primaryWhite;
      }
      p {
          font-size: 1rem;
          color: $primaryWhite;
      }
    }
  }
}