.jumbotron-container-search {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: $primaryDarkBlue;
  //se manteniamo questa foto bsogna ritoccarla con PS
    .title-search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100ch;
      h1 {
          font-size: 5rem;
          color: $primaryWhite;
      }
      p {
          width: 100ch;
          font-size: 2em;
          color: $primaryWhite;
      }
  }
}

.my-color-search {
  background-color: $primaryWhite;
  border-bottom: 0.5px solid $lightGray;

  .search-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    // background-color: green;
    .btn-filter {
      padding: 0 20px;
      line-height: 8vh;
      height: 100%;
      background-color: $primaryWhite;
      border-right: 0.5px solid $lightGray;
      cursor: pointer;
    }
    .my-set {
      padding: 0 20px;
      border-right: 0.5px solid $lightGray;
    }
    h3 {
      color: $lightGray;
      line-height: 8vh;
      font-size: 1.3em;
      font-weight: bolder;
    }
  }
}
