
//jumbo e testo
.jumbotron-container-search {
  height: 40vh;
  background-color: $primaryDarkBlue;
  .jumbotron-title {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    height: 100%;
    h1 {
        font-size: 4rem;
        color: $primaryWhite;
    }
    p {
        font-size: 1.5rem;
        color: $primaryWhite;
    }
  }
}
/* SEARCH BAR */
%search-bar {
  padding: 20px 0;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 400;
  .filters-cnt {
    display: flex;
    div {
      border-right: 1px solid rgb(209, 209, 209);
      width: 100%;
      white-space: nowrap;
    }
  }
  .search {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
  }
  [class*='pannel'] {
    position: relative;
  }
  .input-cnt {
    display: flex;
    justify-content: center;
  }
  .categories-pannel {
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        .btn-no-filter {
          background-color: rgb(41, 49, 131);
          color: rgb(212, 212, 212);
        }
        ul {
            padding: 0;
            height: 20vh;
            overflow: auto;
            background-color: $primaryDarkBlue;
            li {
                line-height: 30px;
                background-color: $primaryDarkBlue;
                input {
                  color: $primaryWhite;
                  background-color: $primaryDarkBlue;
                  &:hover {
                    color: $primaryDarkBlue;
                    background-color: $primaryWhite;
                  }
                }
            }
        }
        .categories-cnt ,
        .genres-cnt {
            width: 220px;
            padding: 20px;
            background-color: $primaryDarkBlue;
            border: 1px solid white;
            border-radius: 5px;
        }
        .votes-cnt {
            width: 100px;
            padding: 20px;
            background-color: $primaryDarkBlue;
            border: 1px solid white;
            border-radius: 5px;
        }
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  #number-of-views {
    width: 50%;
  }
}

.search-bar-white {
  background-color: $primaryWhite;
  @extend %search-bar;
  button {
    display: block;
    background-color: inherit;
    border: none;
    &:hover {
      text-decoration: underline;
    }
    i {
      vertical-align: text-top;
    }
  }
  #submit-advanced-search {
    background-color: $primaryWhite;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      background-color: black;
      border: 1px solid $primaryWhite;
      color: $primaryWhite;
    }
  }
}
.search-bar-blue {
  background-color: $primaryDarkBlue;
  color: $primaryWhite;
  @extend %search-bar;
  button {
    display: block;
    background-color: inherit;
    border: none;
    color: $primaryWhite;
    &:hover {
      text-decoration: underline;
    }
    i {
      vertical-align: text-top;
    }
  }
  #submit-advanced-search {
    background-color: $primaryWhite;
    border: 1px solid $primaryWhite;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      background-color: $lightGray;
      border: 1px solid $primaryDarkBlue;
      color: black;
    }
  }
}

// Aggiunta padding a filters container 992px
@media screen and (max-width: 992px) {
  %search-bar {
    .filters-cnt {
      padding-top: 20px;
      padding-bottom: 20px;
      div:last-child {
        border-right: none;
      }
    }
  }
}


// Cambio display in colonne dei filtri 575px
@media screen and (max-width: 575px) {
  %search-bar {
    .filters-cnt {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      .categories-pannel {
        display: flex;
        flex-direction: row;
        border-right: none;
        width: 100%;
        white-space: nowrap;
        padding: 0 20px;
        label , button {
          width: 50%;
        }
      }
      .reviews-pannel {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        white-space: nowrap;
        padding: 0 20px;
        label, .input-cnt {
          width: 50%;
        }
        .input-cnt {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .jumbotron-container-search {
    .jumbotron-title {
      margin: 0 auto;
      max-width: 60%;
      text-align: center;
      height: 100%;
      h1 {
          font-size: 2.5rem;
          color: $primaryWhite;
      }
      p {
          font-size: 1rem;
          color: $primaryWhite;
      }
    }
  }
}