
//jumbo e testo
.jumbotron-container-search {
  height: 40vh;
  background-color: $primaryDarkBlue;
  .jumbotron-title {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    height: 100%;
    h1 {
        font-size: 4rem;
        color: $primaryWhite;
    }
    p {
        font-size: 1.5rem;
        color: $primaryWhite;
    }
  }
}
/* SEARCH BAR */
.search-bar {
  padding: 20px 0;
  font-size: 1.1rem;
  
  .search {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  button {
    display: block;
    background-color: inherit;
    border: none;
    &:hover {
      text-decoration: underline;
    }
    i {
      vertical-align: text-top;
    }
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
  }
  [class*='pannel'] {
    position: relative;
  }
  .categories-pannel {
    position: relative;
    .search {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 500;
        ul {
            padding: 0;
            height: 18vh;
            overflow: auto;
            background-color: $primaryDarkBlue;
            li {
                line-height: 30px;
                background-color: $primaryDarkBlue;
                input {
                  color: $primaryWhite;
                  background-color: $primaryDarkBlue;
                  &:hover {
                    color: $primaryDarkBlue;
                    background-color: $primaryWhite;
                  }
                }
            }
        }
        .categories-cnt ,
        .genres-cnt {
            width: 200px;
            padding: 20px;
            background-color: $primaryDarkBlue;
            border: 1px solid white;
            border-radius: 5px;
        }
    }
  }
  #submit-advanced-search {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      background-color: black;
      color: $primaryWhite;
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  #number-of-views {
    width: 50%;
  }
}


@media screen and (max-width: 540px) {
  .jumbotron-container-search {
    .jumbotron-title {
      margin: 0 auto;
      max-width: 60%;
      text-align: center;
      height: 100%;
      h1 {
          font-size: 2.5rem;
          color: $primaryWhite;
      }
      p {
          font-size: 1rem;
          color: $primaryWhite;
      }
    }
  }
}