.main_show {
  background-color: #FAFAFA;
}

.jumbotron-container-show {
  // margin-top: 80px;
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: $primaryDarkBlue;
  .title-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100ch;
    h1 {
      font-size: 5rem;
      color: $primaryWhite;
    }
    p {
      font-size: 2em;
      color: $primaryWhite;
    }
  }
  .votes {
    i {
      font-size: 1.3em;
      margin-right: 3px;
      color: $starsYellow;
    }
  }
}
.bar_under_jumbo {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 0.5px solid $lightGray;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  .search-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    width: 100%;
    .my_flex {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      a {
        margin: 0 10px;
      }
    }
  }
  .to_page_link {
    a {
      color: $primaryDarkBlue;
      font-weight: bolder;
    }
  }
  .my-color {
    background-color: $primaryLighterBlue;
    
  }
  .my-color:hover {
    background-color: $primaryDarkBlue;
  }
}
.main-show{
  padding: 20px 0;
  h2 {
    color: $primaryDarkBlue;
    // padding-bottom: 20px;
  }
  p {
    font-size: 1.1em;
  }
  .pic-show {
    img {
      width: 100%;
       height: 100%;
    }
  }
  .offert{
    .services, .fav_music {
      min-height: 170px;
      background-color: white;
      box-shadow: 3px 3px 10px rgb(212, 212, 212);
      margin-bottom: 20px;
      padding: 30px 10px;
      border-radius: 2px;
      h2 {
        margin-bottom: 10px;
        color: $primaryDarkBlue;
      }
      .genres {
        span {
          display: inline-block;
          margin: 2px 5px;
          font-size: 1.1em;
          background-color: #eceaea;
          border-radius: 10px;
          padding: 5px 8px;
        }
      }
    }
    
  }
  .reviews {

    margin: 50px 0;
    padding: 20px;
    // border: 1px solid $primaryGray;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(212, 212, 212);
    border-radius: 5px;
    .rev_vote {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      i {
        color: $starsYellow;
      }
      .name {
        color: $darkGray;
      }
    }
    .text_area {
      .bold {
        font-weight: bolder;
        font-size: 17px;
      }
      p:last-child {
        color: $darkGray;
        font-size: 12px;
        padding-top: -10px;
        text-align: right;
      }
      p {
        font-size: 15px;
      }
    }
  }
  
  .border_bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid $primaryGray;
    
  }
}
